@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

:root { /*変数定義*/
    --text-color: #000000;
    --background: #ffffff;
    --header-color: #f5deb3;
    --icon-background: #000000;
}

.darkmode { /*ダークモード用*/
    --text-color: #ffffff;
    --background: #000000;
    --header-color: #f5deb3;
    --icon-background: #ffffff;
}

summary {
    padding: 0px;
    margin: 0px;
}

body, input, input::placeholder, .button { /*フォント指定*/
    font-family: "Mochiy Pop One", sans-serif;
    font-style: normal;
    font-size: 50px;
}

body {
    padding-top: 120px;
    touch-action: manipulation;
    background-color: var(--background);
}

.textbox { /*コード*/
    width: 10em;
}

.form {
    text-align: center;
    margin: 10vw;
    border: 0.5em solid #ff8c00;
    overflow: hidden;
    padding-bottom: 30px;
    color: var(--text-color);
    width: 75vw;
}

summary {
    display: block;
    list-style: none;
}
details summary::-webkit-details-marker {
    display: none;
}

.menu_li {
    list-style: none;
    overflow: hidden;
    margin-left: 1em;
    margin-bottom: 0.5em;
}

details {
    transition: all 300ms 0s ease;
    width: auto;
}
  
details:not([open]) {
    max-height: 500px; 
}
  
details[open] {
    max-height: 3000px; 
}

details[open] .icon {
    transform: translateY(0);
    background-color: #ff8c00;
    transition: background-color 300ms ease;
}

summary {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.list {
    position: absolute;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--header-color);
}

.link {
    text-decoration: none;
    color: var(--text-color);
}

header {
    display: flex;
    align-items: center;
    position: fixed;
    background-color: var(--header-color);
    width: 100%;
    height: 120px;
    top: 0;
    left: 0;
}

.title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 68px;
    color: var(--text-color);
    text-decoration: none;
}

.icon {
    display: flex;
    margin: 0 auto;
    width: 120px;
    height: auto;
    align-items: center;
    top: -100px;
}

details, summary {
    margin: 0;
    padding: 0;
}

.changemode {
    width: 70px;
    height: 70px;
    right: 10%;
    bottom: 10%;
    text-align: center;
    position: fixed;
    border-radius: 50%;
    font-size: 30px;
    background-color: var(--icon-background);
}